# Python
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# VS Code
.vscode/

# MacOS
.DS_Store

# Flask
instance/
.webassets-cache

# Documentation
口コミ訴求文章生成Webアプリ.md
